<h1>Thank you!</h1>

<p>Doobe-doo Here is your suggestion for your recors</p>

<h2>Recipe title: <%= name %></h2>

<h2>Ingreds</h2>
<pre><%= ingredients %></pre>

<h2>Directs</h2>
<pre><%= directions %></pre>

<p><a href="/express">Return to Recipes!</a></p>